@import "tailwindcss";

/* @theme {
  --color-primary: #1E3A8A;
  --color-secondary: #2563EB;
  --color-accent: #14B8A6;

  --color-background: #F1F5F9;

  --color-textPrimary: #0F172A;
  --color-textSecondary: #64748B;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
} */

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #2563EB;
  --color-accent: #14B8A6;
  --color-background: #F1F5F9;
  --color-textPrimary: #0F172A;
  --color-textSecondary: #64748B;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  /* Override emerald colors with hex */
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;

  --color-green-600: #16a34a;
  --color-green-700: #15803d;

  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-gray-200: #e5e7eb;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-800: #1f2937;
}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 235, 0.6);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1E3A8A;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563EB transparent;
}