@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #2563EB;
  --color-accent: #14B8A6;

  --color-background: #F1F5F9;

  --color-textPrimary: #0F172A;
  --color-textSecondary: #64748B;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}



.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 235, 0.6);
}

/* .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 10px;
} */

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1E3A8A;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563EB transparent;
}